



body {
    margin: 0 auto;
}



/* header部分 */
/* ヘッダーを幅いっぱいにする為のボックス*/
#headerbg {
    background-color: #fbfbfb;
    width:100%;
    min-width:1000px;
    height: 20px;
}
/* ヘッダー*/
#header {
    width: 1000px;
    background-color: #fbfbfb;
    margin-right: auto;
    margin-left: auto;
    height: 20px;

    font-size: 15px;
    font-weight: bold;

    color: #000000;
    line-height: 20px;
}

/* ヘッダーを幅いっぱいにする為のボックス2 */
#headerbg2 {

    background-color: #ffffff;
    width:100%;
    min-width:1000px;
    height: 150px;
    border-bottom: 3px solid #000000;
    box-shadow: 0px 1px #d5d5d5;


}
/* ヘッダー2 */
#header2 {
    width: 1000px;
    background-color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    height: 150px;

    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    line-height: 150px;
}


/* フッターを幅いっぱいにする為のボックス*/
#footerbg {
    margin: 130px 0 0 0;
    background-color: #000000;
    width:100%;
    min-width:1000px;
    height: 50px;
    clear: both;
    border-top: 2px solid #d5d5d5;
}



/* フッター*/
#footer        {
    background-color: #000000;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;

    height: 50px;
    text-align: center;
    color: #ffffff;
    line-height: 50px;
    clear: both;
}


