body {
	font-family: Linotte, YuGothic, "Yu Gothic", 游ゴシック体, 游ゴシック, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Roboto, メイリオ, Meiryo, "ＭＳ Ｐゴシック", Osaka, "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
}

#container {
	width: 800px;
	margin: 0 auto;
}

.header2 {
	width: 800px;
	height: 80px;
	border-bottom: 5px solid #444;
	box-shadow: 0px 2px #d5d5d5;
}

h1 {
	float: left;
	font-size: 35px;
}

h2 {
	float: right;
	font-size: 35px;
	color: #d5d5d5;
}